html {
  font-size: 10px; /* px 은 'pixels' 를 의미합니다: 기본 글자 크기는 현재 10 pixels 높이입니다. */
  background-color: hsl(180, 57%, 65%);
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: hsl(180, 57%, 65%);
  text-shadow: 5px 5px 3px black;
  font-family: 'Style Script', cursive;
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}